body{
    background-color: lightgray;
}
#header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 20px;
    display: block;
    font-weight: bold;
}

.subheader {
    position: absolute; 
    font-size: 20px;
    right: 20px;        
    top: 25px;         
}
#thelist{
    position: absolute;
    top: 75px;
    right: 200px;
    width: 300px;
    text-align: left;
}
#thelist ol {
    padding-left: 10px;
}
h3{
    text-decoration: underline;
    color: brown;
}
#youtube{
    position: absolute;
    top: 310px;
    right: 100px;
}
.tableauPlaceholder{
    margin-top:10px;
}
h2{
    text-decoration: underline;
    color: brown;
}