li{
    font-size: smaller;
    font-family:'Times New Roman', Times, serif
}
.center{
    text-align: center;
    width: 100%;
    top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}